confluent_kafka
cx_Oracle
Faker
kafka
kafka_python
lxml
nacos_sdk_python
paramiko
psycopg2
pytest
PyYAML
requests
allure-pytest
allure-pytest
pytest-dependency
pytest-json-report
pytest-metadata
pytest-mock
pytest-ordering
pytest-rerunfailures