allure-pytest
allure-python-commons
altgraph
atomicwrites
attrs
brotlipy
certifi
colorama
conda
conda-package-handling
cryptography
cx-Oracle
docopt
et-xmlfile
Faker
future
greenlet
idna
iniconfig
jdcal
kafka
kafka-python
lxml
menuinst
openpyxl
packaging
pefile
pluggy
psycopg2
py
pycosat
pycparser
pyinstaller
pyinstaller-hooks-contrib
pyOpenSSL
pyparsing
PySocks
pytest
pytest-dependency
pytest-json-report
pytest-metadata
pytest-mock
pytest-ordering
pytest-rerunfailures
python-dateutil
pywin32
pywin32-ctypes
PyYAML
records
requests
ruamel-yaml-conda
six
SQLAlchemy
tablib
text-unidecode
toml
tqdm
urllib3
win-inet-pton
wincertstore
xlrd
